.stack {
    max-height: 366px;
    overflow-y: scroll;
    padding-right: 24px;
}

.totalContainer {
    display: flex;
    flex-direction: row;
}
.bottom {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.container {
    max-width: 640px;
    margin: auto;
}